/build/*
/bin/*
/_objs/*
/libs/*
/test/test*/ipch
/test/test*/_objs
/test/test*/test*/Debug/*
/test/test*/test*/cmake-build-*/*
/test/test*/client/Debug/*
*.suo
*.user
*.ncb
*.plg
*.opt
*.aps
*.aps
*.sdf
*.opensdf
*.exp
*.idb
*.ilk
*.exe
*.pdb
*.chw
*.db
*.idea
*.opendb
*.VC.*
*.vs*